$nav-link-color: #1C6336;
$navbar-height: 112px;

$banner-padding: 100px;
$banner-padding-small: 80px;
$banner-min-height: 600px;
$media-max-height-for-padding-small: $navbar-height + $banner-min-height;

$section-padding: 4.5rem;
$bs-spacing-4: 1.5rem;

$circle-width: 26px;
$line-width: 2px;

body {
    font-family: $font-secondary;
    line-height: 1.2;
}

::selection {
    background-color: $color-primary;
}

footer {
    p {
        // Make padding of paragraph text in footer the same as that for
        // clickable list elements
        padding: 5px 0;
        // Change color of paragraph in footer
        color: $text-light;
    }
    a {
        img {
            // Make logo in footer as tall as heading
            height: calc(2px + 2ex + 2px) !important;
            width: auto !important;
            // Make parent container take only as much height as needed
            // (https://stackoverflow.com/a/5804278/14956277)
            display: block;
        }
    }
    // Change color of headings in footer
    h1, h2, h3, h4, h5, h6 {
        color: $text-light;
    }
    // Change color of content in footer
    .content {
        color: $text-light;
        a {
            color: $text-light;
            background-image: none;
            &:hover {
                color: $white;
            }
        }
    }
    // Change color of list items in footer
    .footer-list {
        a {
            color: $text-light;
            &:hover {
                color: $white;
            }
        }
    }
}

.content {
    // Use weight 700 for bold fonts (PT Sans does not have weight 500)
    b, strong {
        font-weight: 700;
    }

    a {
        // Specify colors and explitic values for underline decoration in links
        color: $color-primary;
        text-underline-offset: 0.15rem;
        text-decoration-thickness: 1px;
        // Add background to links (only visible on hover)
        background-image: linear-gradient(120deg, $color-primary 0%, $color-primary 100%);
        background-repeat: no-repeat;
        background-size: 100% 0;
        background-position: 0 100%;
        transition: all 0.125s ease-in;
    }

    a:hover {
        // Add background to links on hover
        color: $white;
        background-size: 100% 90%;
    }
}

.navigation {
    min-height: $navbar-height;
    .nav-item {
        .nav-link {
            color: $nav-link-color !important;
        }
        .nav-link:hover,
        &.active .nav-link {
            color: $color-secondary !important;
        }
        .nav-link-light,
        &.active .nav-link-light {
            color: $text-light !important;
        }
        .nav-link-light:hover {
            color: $white !important;
        }
    }
    .dropdown-menu {
        .dropdown-item {
            color: $nav-link-color !important;
        }
    }
    .selector-color, .toggler-color {
        color: $color-primary !important;
    }
    .selector-light, .toggler-light {
        color: $text-light !important;
    }
}

.banner {
    padding-top: $banner-padding;
    @media (max-height: $media-max-height-for-padding-small) {
        padding-top: $banner-padding-small;
    }
    padding-bottom: $banner-padding-small;
    padding-left: 0;
    padding-right: 0;
    height: calc(100vh - #{$navbar-height});
    min-height: $banner-min-height;
    background-size: cover;
    background-position: center right 30%;
    background-repeat: no-repeat;
    background-image: url("/images/windmill.webp");
    // background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));

    h1 {
        color: $color-secondary;
        text-shadow: #cfab4c 0.0em 0.0em 0.30em;
    }

    ::selection {
        background-color: $color-secondary;
        text-shadow: 0 0 0 white;
    }
}

.call-to-action-image {
    height: 100px;
    background-size: contain;
    background-position: center;
    background-clip: content-box;
    background-origin: content-box;
    background-image: url("/images/museumart.svg");
}

// Make border radius of feature cards the same as that for video containers
.rounded-1 {
    border-radius: 0.8rem !important;
}

// Reset negative offset of swiper
.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

// Modified vertical section padding
.section {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
}

// Fix drawing of circles and threading lines in how-it-works layout
.how-it-works {
    .block {
        // Fix calculations for top position and height of threading line
        &::after {
            top: calc(var(--bs-gutter-y) - #{$section-padding});
            height: calc(100% + 2 * #{$section-padding} - var(--bs-gutter-y));
        }
        // Fix calculations for position and size of circles
        .section-title::after {
            height: $circle-width;
            width: $circle-width;
            top: 0.5ex;
            left: calc(-1 * (var(--bs-gutter-x) * .5 + #{$bs-spacing-4}) - #{$circle-width} / 2);
        }
        &.block-right-image .section-title::after {
            right: calc(-1 * (var(--bs-gutter-x) * .5 + #{$bs-spacing-4}) - #{$circle-width} / 2);
        }
    }
    &.first-element {
        // Remove threading line at the first element
        .block {
            &::after {
                height: 0;
                width: 0;
            }
        }
        // And draw a special threading line that starts just below the section
        // title (top: 1ex) and extends infinitely (height: 1000px)
        .section-title::before {
            height: 1000px;
            width: $line-width;
            top: 1ex;
            bottom: unset;
            right: calc(-1 * (var(--bs-gutter-x) * .5 + #{$bs-spacing-4} + #{$line-width} / 2));
            background-color: rgba($color-primary, 0.2);
            @include desktop {
                display: none;
            }
        }
    }
    &.last-element {
        // Remove threading line at the last element
        .block {
            &::after {
                height: 0;
                width: 0;
            }
        }
        // And draw a special threading line that ends just above the section
        // title (bottom: 1ex) and extends infinitely (height: 1000px)
        .section-title::before {
            height: 1000px;
            width: $line-width;
            top: unset;
            bottom: 1ex;
            left: calc(-1 * (var(--bs-gutter-x) * .5 + #{$bs-spacing-4} + #{$line-width} / 2));
            background-color: rgba($color-primary, 0.2);
            @include desktop {
                display: none;
            }
        }
    }
}

// Use default width and font for language toggler in navigation bar
.navigation .navbar-light .navbar-toggler {
    width: unset;
    font-size: inherit;
}
.dark .navigation .navbar-light .navbar-toggler {
    width: unset;
    font-size: inherit;
}

// Redefine style of background classes
.bg-primary {
    background-color: $color-primary !important;
    ::selection {
        background-color: $text-light;
        color: $color-primary;
    }
}
.bg-secondary {
    background-color: $color-secondary !important;
    ::selection {
        background-color: $text-light;
        color: $color-secondary;
    }
}

// This class can be used to turn image color to $text-light (assuming
// $text-light is a shade of grey)
.filter-light {
    filter: brightness(0) invert(1) brightness(#{lightness($text-light)});
}
