body {
    font-family: $font-secondary;
    line-height: 1.2;
}

.content a {
    color: $color-primary;
    text-underline-offset: 0.15rem;
    text-decoration-thickness: 1px;
}

.content a:hover {
    color: $color-secondary;
}

// For feature cards
.rounded-1 {
    border-radius: 0.8rem !important;
}

// Size of logo in navigation bar
.navbar-brand {
    width: 100px;
}

// Use default width and font for language toggler in navigation bar
.navigation .navbar-light .navbar-toggler {
    width: unset;
    font-size: inherit;
}
.dark .navigation .navbar-light .navbar-toggler {
    width: unset;
    font-size: inherit;
}
