{{ define "main" }}

{{ partial "page-header.html" .}}

<!-- intro -->
{{ with .Params.intro }}
{{ if .enable }}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-lg-center text-start">
                {{ with .title }}
                <h2 class="section-title h2">{{ .title | markdownify }}</h2>
                {{ end }}
                <div class="content">
                    {{ .content | markdownify }}
                </div>
            </div>
        </div>
        {{ with .video }}
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="has-video rounded-2 shadow mt-5">
                    <button type="button" class="video-loader-btn rounded-2" data-src="{{ .url }}">
                        <i class="fas fa-play"></i>
                    </button>
                    {{ partial "image" (dict "Src" .thumbnail "Alt" "video thumbnail" "Class" "w-100 video-thumb rounded-2") }}
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
<!-- /intro -->

{{ with .Params.team  }}
<section class="section pt-0">
    <div class="container">
        {{ with .title }}
        <div class="row justify-content-center text-md-center text-start">
            <div class="col-xl-7 col-lg-10 mb-5">
                <h3 class="section-title h3">{{ . }}</h3>
            </div>
        </div>
        {{ end }}
        <div class="row justify-content-evenly gy-5">
            {{ range .members }}
            <div class="col-xxl-3 col-xl-4 col-md-6">
                <div class="card bg-transparent border-0 text-md-center text-start">
                    {{ partial "image" (dict "Src" .image "Alt" .name "Class" "card-img-top rounded-2" "Size" "360x") }}
                    <div class="card-body px-0">
                        {{ with .name }}<h5 class="h5 mb-1">{{ . | markdownify  }}</h5>{{ end }}
                        {{ with .designation }}<p class="mb-0">{{ . | markdownify  }}</p>{{ end }}
                        {{ with .social_profile }}
                        <ul class="list-inline mb-0 mt-2" style="margin-left:-7px">
                            {{ range . }}
                            <li class="list-inline-item me-0"><a class="text-primary p-2" href="{{ .link | safeURL }}" title="{{ .name }}"><i class="{{ .icon }}"></i></a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

{{ end }}
